@page "/department"
@page "/department/{Id:int}"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inherits DepartmentBase

@using Blazorise

@* Modal Start *@
<Button Color="Color.Primary" Clicked="@ShowModal">Create Department</Button>

<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            @if (Id is null)
            {
                <ModalTitle>Department Details</ModalTitle>
            }
            else
            {
                <ModalTitle>Update @Temp_Dept.Name</ModalTitle>
            }
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <div class="form-group">
                    <lable for="name">Name:</lable>
                    <input type="text" @bind="Temp_Dept.Name" class="form-control" />
                </div>
            </Field>
            <Field>
                <div class="form-group">
                    <input type="checkbox" value="Temp_Dept.Status" @bind="Temp_Dept.Status" />
                    <label>Check if Assigned</label>
                </div>
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            <Button Color="Color.Primary" @onclick="()=>SubmitForm()">Submit</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@* Modal End *@

@* Department Data Display Start*@
@if (Departments == null)
{
    <Spinner/>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dept in Departments)
            {
                <tr>
                
                <td>@dept.Id</td>
                <td>@dept.Name</td>
                <td>@dept.Status</td>
                <td>
                    <a href="/department/@dept.Id">
                        <img src="/Assets/edit.png" width="30" height="30" @onclick="()=>GetDept(dept)"/>
                    </a>
                       
                    <img src="/Assets/delete.png" width="30" height="30" @onclick="()=>DeleteDept(dept.Id)" />
                        
                </td>
            </tr>
            }
        </tbody>
    </table>
}
@* Department Data Display End *@



 